[submodule "rbi-track2"]
	path = rbi-track2
	url = https://github.com/yellowsense2008/rbi-track2
[submodule "RWE-analytics"]
	path = RWE-analytics
	url = https://github.com/TalhaNagina/RWE-analytics
[submodule "Track-B-contactless-fingerprint"]
	path = Track-B-contactless-fingerprint
	url = https://github.com/TalhaNagina/Track-B-contactless-fingerprint
[submodule "Track-C-contactless-fingerprint"]
	path = Track-C-contactless-fingerprint
	url = https://github.com/TalhaNagina/Track-C-contactless-fingerprint
[submodule "contactless-fingerprint-demo"]
	path = contactless-fingerprint-demo
	url = https://huggingface.co/spaces/talha-yellowsense/contactless-fingerprint-demo
[submodule "yellowsense-compliance-demo"]
	path = yellowsense-compliance-demo
	url = https://huggingface.co/spaces/talha-yellowsense/yellowsense-compliance-demo
[submodule "ayush-healthcare"]
	path = ayush-healthcare
	url = https://github.com/TalhaNagina/ayush-healthcare
