[submodule "rbi-track2"]
	path = rbi-track2
	url = https://github.com/yellowsense2008/rbi-track2
[submodule "RWE-analytics"]
	path = RWE-analytics
	url = https://github.com/TalhaNagina/RWE-analytics
[submodule "Track-B-contactless-fingerprint"]
	path = Track-B-contactless-fingerprint
	url = https://github.com/TalhaNagina/Track-B-contactless-fingerprint
[submodule "Track-C-contactless-fingerprint"]
	path = Track-C-contactless-fingerprint
	url = https://github.com/TalhaNagina/Track-C-contactless-fingerprint
[submodule "contactless-fingerprint-demo"]
	path = contactless-fingerprint-demo
	url = https://huggingface.co/spaces/talha-yellowsense/contactless-fingerprint-demo
